---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";
import CarruselOne from "../components/CarruselOne";
import Mapa from "../components/Mapa";
import Galeria from "../components/Galeria";
---

<Layout title="Muscle GYM | La disciplina es el puente entre tus metas y logros.">
  <Navbar />
  <section class="bg-cover bg-center bg-[url(/img/background_portada.webp)] h-screen relative overlay" id="inicio">
    <div class="flex justify-end md:justify-between items-start md:items-end h-full pb-5 md:pb-10 px-5 z-10 relative flex-col md:flex-row">
      <div>
        <h3 class="font-lacquer  text-3xl md:text-6xl py-2">Come. Duerme.</h3>
        <h1 class="font-protestRevolution font-bold text-custom-red text-6xl md:text-9xl">ENTRENA</h1>
        <h3 class="font-lacquer  text-3xl md:text-6xl">Repite.</h3>
      </div>
      <div class="mt-10 flex items-center justify-center gap-5">
        <Button title="Ubicación" icon="mdi:map-marker" clases="text-xl" font="font-lacquer text-sm bg-white text-[#1B1B1E] font-bold hover:text-[#1b1b1e]" url="#ubicacion" />
        <Button title="Conocer más" icon="mdi:chevron-right-circle" clases="text-xl " font="font-lacquer text-sm " url="#nosotros" />
      </div>
    </div>
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </section>
  <div class="bg-gradient-to-r from-custom-red2 bg-[#a5a5a5] to-custom-red py-10 md:py-20">
    <h2 class="font-lacquer  text-center text-3xl md:text-5xl">“la disciplina es el puente entre tus metas y logros”</h2>
  </div>
  <section class="flex justify-between items-center flex-col lg:flex-row px-5 py-14" id="nosotros">
    <div class="w-full lg:w-1/2 text-center lg:text-start lg:pe-10">
      <span class="font-robotoMono text-sm ">Tu éxito es nuestra prioridad</span>
      <img src="/img/logoGym.webp" class="w-full sm:w-1/2 m-auto lg:ms-1 mt-3" alt="Logo de Muscle GYM">
      <p class="font-robotoMono text-sm mb-7 ">Bienvenidos a Muscle GYM, donde cada entrenamiento te acerca a una mejor versión de ti mismo.</p>
      <p class="font-robotoMono text-sm ">Fundado con la misión de transformar vidas a través del ejercicio, Muscle GYM se dedica a proporcionar un ambiente motivador y de apoyo para que todos nuestros miembros alcancen sus objetivos. En Muscle GYM, creemos que la fuerza no es solo física, sino también mental y emocional. Únete a nosotros y descubre cómo puedes superar tus límites y alcanzar tu máximo potencial.</p>
      <div class="flex items-center justify-center lg:justify-start mt-5 gap-3">
        <a href="https://www.facebook.com/obedHHH" target="_blank" class="text-custom-red text-4xl hover: transition-all"><Icon name="mdi:facebook" /></a>
        <a href="https://www.intagram.com/obedhec" target="_blank" class="text-custom-red text-4xl hover: transition-all"><Icon name="mdi:instagram" /></a>
      </div>
    </div>
    <div class="w-full lg:w-1/2 mt-10">
      <CarruselOne client:visible />
    </div>
  </section>
  <div class="relative bg-cover bg-center bg-[url(/img/gym.webp)] overlay py-16 md:py-0 h-auto md:h-64">
    <div class="absolute inset-0 bg-black opacity-90"></div>
    <div class="relative flex flex-col md:flex-row justify-between items-center gap-16 md:gap-5 z-10 h-full px-0 md:px-20">
      <div class="flex items-center justify-center flex-col text-center">
        <Icon name="mdi:clock" class="text-6xl text-custom-red" />
        <span class="text-3xl font-protestRevolution uppercase text-custom-red">Horario</span>
        <p class="text-sm  font-robotoMono mt-2 font-light">Lunes-Viernes de 9:00 / 21:00 hrs <br /> Domingo de 14:00 / 19:00 hrs</p>
      </div>
      <div class="flex items-center justify-center flex-col text-center">
        <Icon name="mdi:user" class="text-6xl text-custom-red" />
        <span class="text-3xl font-protestRevolution uppercase text-custom-red">+50</span>
        <p class="text-sm  font-robotoMono mt-2 font-light">Clientes felices <br /> entrenando con nosotros</p>
      </div>
      <div class="flex items-center justify-center flex-col text-center">
        <Icon name="mdi:star" class="text-6xl text-custom-red" />
        <span class="text-3xl font-protestRevolution uppercase text-custom-red">+4</span>
        <p class="text-sm  font-robotoMono mt-2 font-light">Años transformando vidas <br /> de muchas personas</p>
      </div>
    </div>
  </div>
  <section class="mt-32 bg-gradient-to-r from-custom-red2 to-custom-red px-3 py-10 relative h-[800px] lg:h-[650px] flex flex-col lg:justify-center justify-between lg:flex-row-reverse" id="entrenador">
    <div class="w-full lg:w-2/3 flex justify-between items-center h-auto z-10">
      <div class="w-full flex flex-col justify-between lg:items-end h-full lg:pe-10">
        <p class="font-lacquer text-3xl md:text-6xl leading-tight text-center lg:text-start">"Tu cuerpo puede hacerlo, <br />es tu mente la que necesitas convencer"</p>
        <div class="flex mt-auto items-end justify-center lg:text-start gap-2">
          <span class="font-protestRevolution text-6xl md:text-8xl"><small>+</small>5</span>
          <span class="font-lacquer uppercase text-sm md:text-lg">años <br /> entrenando</span>
        </div>
      </div>
    </div>
	<div class="w-full lg:w-1/3 z-10 flex flex-col justify-between h-auto">
        <div class="flex flex-col mt-auto items-center md:items-start gap-2 md:ps-10">
        	<p class="font-lacquer  text-5xl">Héctor Obed</p>
        	<span class="font-robotoMono  font-light">Coach Muscle GYM</span>
        </div>
		<div class="flex flex-row justify-center items-center md:justify-start gap-3 mt-3 md:ps-10">
			<a href="https://www.facebook.com/obedHHH" target="_blank"><Icon name="mdi:facebook" class="text-4xl " /></a>
			<a href="https://www.intagram.com/obedhec" target="_blank"><Icon name="mdi:instagram" class="text-4xl " /></a>
		</div>
    </div>
	<div class="absolute flex flex-col leading-none opacity-15 bottom-72">
        <span class="font-protestRevolution"><b class="text-[90px] md:text-[180px]">MUSCLE</b></span>
        <span class="font-protestRevolution"><b class="text-[80px] md:text-[160px]">GYM</b></span>
    </div>
    <img src="/img/coach.webp" alt="Foto del coach de Muscle GYM" class="absolute w-[390px] bottom-0 left-0">
  </section>
  <section class="mt-20" id="precios">
    <div class="text-center">
      <h1 class="font-lacquer  text-3xl md:text-6xl uppercase">Precios</h1>
      <p class="mt-7 font-robotoMono  text-xs md:text-sm w-full px-5 m-auto">En Muscle GYM, creemos que la salud y el bienestar deben estar al alcance de todos. Por eso, ofrecemos precios competitivos y accesibles sin comprometer la calidad de nuestras instalaciones y servicios.</p>
    </div>
    <div class="flex flex-col md:flex-row justify-center items-center mt-14 gap-14 md:gap-7">
      <div class="bg-custom-red p-10 text-center rounded-2xl relative w-48">
        <Icon name="hugeicons:workout-gymnastics" class="absolute rounded-full bg-white text-[#1B1B1E] text-6xl p-2 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-0" />
        <p class="font-protestRevolution  text-5xl mb-2">$40</p>
        <span class="font-robotoMono  text-sm">Visita</span>
      </div>
      <div class="bg-custom-red p-10 text-center rounded-2xl relative w-48">
        <Icon name="hugeicons:equipment-gym-02" class="absolute rounded-full bg-white text-[#1B1B1E] text-6xl p-2 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-0" />
        <p class="font-protestRevolution  text-5xl mb-2">$150</p>
        <span class="font-robotoMono  text-sm">Semanal</span>
      </div>
      <div class="bg-custom-red p-10 text-center rounded-2xl relative w-48">
        <Icon name="hugeicons:equipment-gym-03" class="absolute rounded-full bg-white text-[#1B1B1E] text-6xl p-2 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-0" />
        <p class="font-protestRevolution  text-5xl mb-2">$200</p>
        <span class="font-robotoMono  text-sm">Quincenal</span>
      </div>
      <div class="bg-custom-red p-10 text-center rounded-2xl relative w-48">
        <Icon name="hugeicons:equipment-gym-01" class="absolute rounded-full bg-white text-[#1B1B1E] text-6xl p-2 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-0" />
        <p class="font-protestRevolution  text-5xl mb-2">$300</p>
        <span class="font-robotoMono  text-sm">Mensual</span>
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="font-robotoMono  text-xs px-5 md:px-0 font-light">Todos los paquetes incluyen el acceso completo al gimnasio</p>
    </div>
  </section>
  <section class="mt-20" id="galeria">
    <div class="text-center">
      <h1 class="font-lacquer text-3xl md:text-6xl uppercase">Galeria</h1>
      <p class="mt-4 font-robotoMono text-xs md:text-sm w-full px-5 m-auto">Nuestra galería es un vistazo a la vida en Muscle GYM. Aquí encontrarás imágenes de nuestras instalaciones y de nuestros clientes en acción, superando retos y alcanzando metas.</p>
      <div>
        <Galeria client:visible />
      </div>
    </div>
  </section>
  <section class="mt-20" id="ubicacion">
    <div class="text-center">
      <h1 class="font-lacquer text-3xl md:text-6xl uppercase">Ubicación</h1>
      <p class="mt-10 font-robotoMono text-xs md:text-sm w-full px-5 m-auto">¡Visítanos hoy y comienza tu viaje hacia un estilo de vida más saludable y activo!</p>
      <div class="mt-10 h-[400px]">
        <Mapa client:load />
      </div>
    </div>
  </section>
  <div class="py-3 text-center">
    <p class="font-robotoMono text-xs">@2024 Muscle GYM, Todos los derechos reservados.</p>
  </div>
</Layout>
