@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-thumbnail.min.css');

.container-gallery {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.image-gallery {
    flex: auto;
    overflow: hidden;
    border-radius: 20px;
    transition: opacity 0.3s ease;
}

.image-gallery img {
    height: 200px;
    width: auto;
    min-width: 100%;
    object-fit: cover;
    transition: scale 0.3s ease;
}

.image-gallery img:hover {
    scale: 1.1;
}

.container-gallery:has(.image-gallery:hover) > :not(:hover) {
    opacity: 0.5;
}
