---
import '@fontsource/black-ops-one';
import '@fontsource/rubik-glitch';
import '@fontsource/lacquer';
import '@fontsource-variable/roboto-mono';
import '@fontsource/protest-revolution';

interface Props {
	title: string;
}

const { title } = Astro.props;
import 'aos/dist/aos.css'; 
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Transforma tu cuerpo y mente en Muscle GYM. Ofrecemos entrenamiento personalizado, equipo de última generación y un ambiente motivador para alcanzar tus metas de fitness. ¡Únete hoy y comienza tu camino hacia una vida más saludable!" />
		<meta name="keywords" content="gimnasio, entrenamiento personalizado, fitness, pérdida de peso, musculación, tonificación, ejercicio, entrenamiento funcional, salud y bienestar, clases grupales, entrenadores personales, nutrición deportiva, fuerza y resistencia, cardio, vida saludable.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/logoGym.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	html {
		background: #1B1B1E !important;
		color: #fff !important;
		scroll-behavior: smooth;
	}

	html::-webkit-scrollbar {
		width: 10px;
	}

	html::-webkit-scrollbar-track {
		background: #1B1B1E;
	}

	html::-webkit-scrollbar-thumb {
		background-color: #4b4b4b;
		border-radius: 10px;
	}

	html::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

</style>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NXXE8X8CXH"></script>
<script>

import AOS from "aos"; 
	AOS.init({
		offset: 10,
	});

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NXXE8X8CXH');
</script>